
* {
    box-sizing: border-box;
}

@media screen and (max-width: 750px) {
  #restaurants-list li {
  	width: 100%;
  }
}

@media screen and (min-width: 750px) {
  #restaurants-list li {
    width: 270px;
  }
  #restaurants-list .restaurant-img {
    min-height: 200px;
  }
}


/* ====================== Restaurant Details ====================== */
